* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
html {
  font-size: 12pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
  /* Style the header */
  /*header {
    background-color: black;
    border:solid, rgb(235, 186, 26);
    padding: 1%;
    text-align: left;
    height: 1vh;
    font-size: 140%;
    color: rgb(235, 186, 26);
  }*/
body {
  margin: 0;
  background: #d4d4d4;
}
section {
  height: 12vh;
  background: black;
  color:rgb(235, 186, 26);
  padding: 1%;
  text-align: left;
  font-size: 140%;
}
section span {
  margin: 0;
  font-size: 100%;
  text-align: left;
  line-height: 1;
  padding-top: calc(50vh - 20pt);
  display: block;
  font-weight: 700;
}
nav a {
  padding: 1%;
  text-align: left;
  height: 20vh;
  display: inline-block;
  outline: none;
  text-decoration: none;
  opacity: .7;
  padding-bottom: 3em;
  color: rgb(235, 186, 26);
  transition: opacity .2s ease-in-out;
}
nav a:hover,
nav a:focus {
  opacity: 1;
}
h1 {
  /*font-family: ;*/
  font-weight: 600;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
h2 {
  font-weight: 600;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 70%;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
footer {
  background-color: black;
  padding: 1px;
  text-align: center;
  color: rgb(235, 186, 26);
}